<div class="col d-flex justify-content-center">
    <div class="card text-white bg-dark mb-3" style="width: 30rem;">
        <div class="alert alert-secondary" role="alert">
            {{ dane.nazwa }}
        </div>
        <div class="card-body">
            <div class="form-group col-md-6">
                <form action="edytuj.php" method="POST">
                    <label for="inputState">Nazwa Serwera</label>
                    <div class="input-group mb-2 mb-sm-0">
                        <input type="text" name="name" class="form-control" id="inlineFormInputGroupUsername" value="{{ dane.nazwa }}">
                    </div>
                    <br />
                    <label for="inputState">ID serwera z Sourcebansów</label>
                    <div class="input-group mb-2 mb-sm-0">
                        <input type="text" name="serverid" class="form-control" id="inlineFormInputGroupUsername" value="{{ dane.idserwera }}">
                    </div>
            </div>
            <input type="hidden" name="id" value="{{ dane.id }}">
            <button type="submit" class="btn btn-primary">Edytuj</button>
            </form>
        </div>
    </div>
</div>