<div class="col d-flex justify-content-center">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Zakupiłeś <span class="badge badge-danger">{{ ilelvli }} LVLi!</span> Serwer: <span class="badge badge-secondary">{{ nazwaserwera }}</span></div>
        <div class="card-body">
            <h4 class="card-title">Prawie gotowe!</h4>
            <p class="card-text">Usługa powinna za chwilę pojawić się na serwerze, jeśli po mapie wciąż nie będziesz posiadał usługi <a href="/kontakt">skontaktuj się z administracją</a></p>
        </div>
    </div>
</div>