<div class="col d-flex justify-content-center">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Zakupiłeś <span class="badge badge-danger">VIPa na Forum!</span></div>
    </div>
</div>