<footer class="footer">
    <div class="container">
        <span class="text-muted">

            Płatności SMS zapewnia firma <a href="http://microsms.pl/" style="display: inline; font-weight: bold;">MicroSMS</a>.
            | Korzystanie z serwisu jest jednozanczne z akceptacją <a href="http://microsms.pl/partner/documents/" style="display: inline; font-weight: bold;">regulaminów</a>.
            | Jeśli nie dostałeś kodu zwrotnego w ciągu 30 minut skorzystaj z
            <a href="http://microsms.pl/customer/complaint/" style="display: inline; font-weight: bold;">formularza reklamacyjnego</a>
            <br />

            Płatności Przelewem zapewnia firma <a href="http://dotpay.pl" style="display: inline; font-weight: bold;">DotPay</a>
            <br/>

            © 2020 Max-Play.pl . Wszelkie prawa zastrzeżone
        </span>
    </div>
</footer>