<div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 40rem;">
    <div class="card-header">Cennik</div>
    <div class="card-body">
        <p class="card-text">
            <span class="badge badge-pill badge-warning">VIP PSC</span> - 10zł na miesiąc<br />
            <span class="badge badge-pill badge-info">VIP Skiny</span> - 10zł w maks. 4 skinach bądź 1 klucz na miesiąc<br />
            <span class="badge badge-pill badge-success">VIP PayPal</span> - 5zł na miesiąc.<br />

            <span class="badge badge-pill badge-success">UnSilence PayPal</span> - 10zł.<br />
            <span class="badge badge-pill badge-success">UnSilence PSC</span> - 10zł.<br />

            <span class="badge badge-pill badge-success">VIP Forum PayPal</span> - 5zł.<br />
            <span class="badge badge-pill badge-success">VIP Forum PSC</span> - 10zł.<br />
            Kupno punktów takich jak np. ZN ustalane jest indywidualnie na PW.<br />
            W przypadku kupna na większą ilość miesięcy przewidziane są duże bonusy.<br />

        </p>
    </div>
</div>
<div class="card bg-dark text-center">
    <div class="card-header">
        <h2><span class="badge badge-danger">CamerDisco</span></h2>
    </div>
    <div class="card-body">
        <p class="card-text">Na początku kieruj się do Camera, najlepiej poprzez Steama! U niego zakupisz wszystkie usługi poprzez PSC/Paypal/Skiny</p>
        <a href="http://steamcommunity.com/id/kejmerdisco/"><img class="mx-auto d-block" src="https://steamsignature.com/profile/default/76561198119270289.png" alt=""/></a>
        <br /><a href="http://steamcommunity.com/id/kejmerdisco/" class="btn btn-primary">Profil Steam</a>
        <a href="http://max-play.pl/profile/13248-camerdisco/" class="btn btn-danger">Profil Forum</a>
        <a href="mailto:camer@max-play.pl" class="btn btn-success">E-Mail</a>
    </div>
</div>
<br />
<div class="card bg-dark text-center">
    <div class="card-header">
        <h2><span class="badge badge-danger">Lord Yabol</span></h2>
    </div>
    <div class="card-body">
        <p class="card-text">Jeśli Camer nie odpowiada przez dłuższy czas wtedy czas na Yabola!</p>
        <a href="http://steamcommunity.com/id/LordYabol/"><img class="mx-auto d-block" src="http://steamsignature.com/profile/default/76561198038954451.png" alt=""/></a>
        <br /><a href="http://steamcommunity.com/id/LordYabol/" class="btn btn-primary">Profil Steam</a>
        <a href="http://max-play.pl/profile/6403-lord-yabol/" class="btn btn-danger">Profil Forum</a>
        <a href="mailto:lordyabol@max-play.pl" class="btn btn-success">E-Mail</a>
    </div>
</div>