<div class="card bg-dark text-center">
    <div class="card-header">
        <h2><span class="badge badge-danger">CamerDisco</span></h2>
    </div>
    <div class="card-body">
        <p class="card-text">Załatwisz u niego prawie wszystko! Kupisz usługi, zgłosisz problemy, skontaktujesz się w sprawie sieci.</p>
        <a href="http://steamcommunity.com/id/kejmerdisco/"><img class="mx-auto d-block" src="https://steamsignature.com/profile/default/76561198119270289.png" alt=""/></a>
        <br /><a href="http://steamcommunity.com/id/kejmerdisco/" class="btn btn-primary">Profil Steam</a>
        <a href="http://max-play.pl/profile/13248-camerdisco/" class="btn btn-danger">Profil Forum</a>
        <a href="mailto:camer@max-play.pl" class="btn btn-success">E-Mail</a>
    </div>
</div>
<br />
<div class="card bg-dark text-center">
    <div class="card-header">
        <h2><span class="badge badge-danger">Lord Yabol</span></h2>
    </div>
    <div class="card-body">
        <p class="card-text">Jeśli Camer nie odpowiada przez dłuższy czas wtedy czas na Yabola!</p>
        <a href="http://steamcommunity.com/id/LordYabol/"><img class="mx-auto d-block" src="http://steamsignature.com/profile/default/76561198038954451.png" alt=""/></a>
        <br /><a href="http://steamcommunity.com/id/LordYabol/" class="btn btn-primary">Profil Steam</a>
        <a href="http://max-play.pl/profile/6403-lord-yabol/" class="btn btn-danger">Profil Forum</a>
        <a href="mailto:lordyabol@max-play.pl" class="btn btn-success">E-Mail</a>
    </div>
</div>