<div class="card bg-dark text-center">
    <div class="card-body">
        <p class="card-text">

            <span class="badge badge-pill badge-danger">Regulamin sprzedaży Max-Play.pl</span><br /><br />

            I.    Postanowienia ogólne<br />
            1.    Niniejszy regulamin określa ogólne warunki sprzedaży produktów elektronicznych oferowanych przez sieć Max-Play.pl W Sklepie Internetowym, zasady i warunki składania zamówień, zapłaty za ich realizację oraz składania oświadczenia o odstąpieniu od warunków umowy i postępowania reklamacyjnego związanego z aktywacją produktu.<br />
            2.    Złożenie zamówienia przez Kupującego wymaga każdorazowej akceptacji Regulaminu sprzedaży i jest konieczne do zawarcia umowy sprzedaży.<br />
            3.    Sprzedający zastrzega sobie możliwość zmiany Regulaminu sprzedaży w każdym czasie. Zmiany wchodzą one w zżycie z chwilą publikacji na stronie <a href="http://sklep.max-play.pl/regulamin">Regulamin</a> W razie zmiany, zastosowanie znajduje Regulamin sprzedaży opublikowanego na stronie <a href="http://sklep.max-play.pl/regulamin">Regulamin</a> obowiązującego w chwili złożenia zamówienia przez Kupującego.<br />
            4.    Kupujący oświadcza, że nie dokonuje zakupów produktów elektronicznych oferowanych przez sieć Max-Play.pl w celu ich odsprzedaży lub udostępniania osobom trzecim, niezwiązanym umową sprzedaży.<br />
            5.	  Zamówienia są realizowane automatycznie przez silnik sklepu<br />
            6.    W przypadku problemów z otrzymaniem kodu zwrotnego SMSa, użytkownik zobowiązuje się do samodzielnej reklamacji u operatora obsługującego kody SMS.<br />
            7.    Sprzedający nie ponosi odpowiedzialności za awarie serwerów oraz ich czasowe niedyspozycje.<br /><br />

            II.    Zamówienia<br />
            1.    Zamówienia przyjmowane są przez stronę http://sklep.max-play.pl podzieloną na zakładki stosowne dla każdego produktu.<br />
            2.    W celu złożenia zamówienia wymagane jest logowanie poprzez portal Steam.<br />
            3.    W trakcie zamówienia dokonuje się:<br />
            a)    wyboru zamawianego produktu wraz z jego czasem obowiązywania<br />
            b)    wyboru serwera na którym produkt ma zostać aktywowany<br />
            c)    wyboru sposobu dokonania płatności<br />
            4.    Sprzedający nie ponosi odpowiedzialności za pomyłki wynikające z niedokładności zamawiającego. <br /><br />

            III.    Płatność<br />
            1.    Ceny podane w Sklepie Internetowym sieci Max-Play.pl w chwili składania zamówienia są cenami ostatecznymi. Po złożeniu zamówienia, cena zamówionych produktów elektronicznych nie zmieni się, niezależnie od wprowadzonych przez Sprzedającego zmian cen lub rozpoczętych akcji promocyjnych.<br /><br />

            IV.    Aktywacja produktu elektronicznego i postępowanie reklamacyjne<br />
            1.    Aktywacja produktu elektronicznego następuje automatycznie przy pierwszym zalogowaniu na serwer sieci Max-Play.pl.<br />
            2.    W przypadku braku aktywacji usługi w celu zgłoszenia reklamacji należy:<br />
            a)    napisać zgłoszenie w dziale <a href="http://max-play.pl/forum/107-problemy-z-vipem/">Dział</a> zgodnie z zamieszczonym wzorem <a href="http://max-play.pl/topic/934-wz%C3%B3r-zg%C5%82aszania-problemu/">Wzór<a> <br />
                    b)    wysyłając zgłoszenie na adres e-mail camer@max-play.pl podając wszystkie możliwe dane(steamid, metodę płatności, kod zwrotny, szczegóły problemu), które pomogą pomóc ustalić przyczynę problemu.<br />
                    3.    Zgłoszenia dotyczące problemów z aktywacją usługi rozpatrywane będą w przeciągu 24 godzin, przy czym Sprzedający zastrzega sobie, że naprawa problemu wynikająca z trudności technicznych, niezależnych od Sprzedającego może potrwać do 7 dni o czym każdorazowo poinformuje Kupującego.<br />
                    4.    Zdarzenia opisane w dziale IV pkt 4 nie wpływają na odliczanie czasu do końca obowiązywania produktu.<br /><br />

                    V.    Prawo od odstąpienia umowy<br />
                    1.    Zgodnie z Ustawą z dnia 30 maja 2014 r. o prawach konsumenta (Dz. U. z 2017 r. poz. 683, 2361) konsument ma prawo do odstąpienia od umowy sprzedaży zawartej na odległość bez podania przyczyny w przeciągu 14 dni kalendarzowych od daty otrzymania towaru, składając stosowne oświadczenie na piśmie.<br />
                    2.    Jednocześnie, zgodnie z postanowieniami ww. Ustawy, prawo odstąpienia od umowy zawartej poza lokalem przedsiębiorstwa lub na odległość nie przysługuje konsumentowi w odniesieniu do umów o dostarczanie treści cyfrowych, które nie są zapisane na nośniku materialnym, jeżeli spełnianie świadczenia rozpoczęło się za wyraźną zgodą konsumenta przed upływem terminu do odstąpienia od umowy i po poinformowaniu go przez przedsiębiorcę o utracie prawa odstąpienia od umowy.<br />
                    <b>W związku z powyższym, złożenie zamówienia dotyczącego produktu elektronicznego i aktywowanie go poprzez zalogowanie się na serwer sieci Max-Play.pl na którym produkt ma obowiązywać jest równoznacznie z brakiem późniejszej możliwości odstąpienia od umowy.</b> <br /><br />

                    VI.    Dane osobowe<br />
                    1.    Administratorem bazy danych osobowych przekazywanych podczas składania zamówienia na stronach Sprzedającego jest właściciel sieci Max-Play.pl<br />
                    2.    Składając zamówienie, Kupujący wyraża zgodę na umieszczenie swoich danych osobowych w bazie  oraz na ich przetwarzanie w celu realizacji umowy sprzedaży. Dane osobowe nie będą udostępniane innym odbiorcom i wykorzystywane w celach marketingowych bez zgody Kupującego.<br />
                    3.    Kupujący ponosi odpowiedzialność za podanie nieprawdziwych danych osobowych.<br />
                    4.    Wyrażenie przez Kupującego zgody na przetwarzanie przez Sprzedającego danych osobowych w rozumieniu ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. z 2016 r. poz. 922, z 2018 r. poz 138) jest dobrowolne, jednakże brak zgody na przetwarzanie danych osobowych, uniemożliwia wykonanie umowy i zrealizowanie zamówienia. <br />
        </p>
    </div>
</div>
